!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
.DS_Store
._.DS_Store
home-assistant_v2.db
*.log
.uuid
.HA_VERSION
.cloud
.storage
tts
home-assistant_v2.db-shm
home-assistant_v2.db-wal
zwcfg_0xdab7fdb2.xml
pyozw.sqlite
OZW_Log.txt
aircast.xml
